<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359770526845-s96auhcftb6e0jrhlag3aol2b41eec17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359770526845-s96auhcftb6e0jrhlag3aol2b41eec17</string>
	<key>API_KEY</key>
	<string>AIzaSyCc9MHmoxnVHF4w_VibobE7tAcJZm5InYA</string>
	<key>GCM_SENDER_ID</key>
	<string>359770526845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sem5finalproject</string>
	<key>PROJECT_ID</key>
	<string>sem5finalproject-30816</string>
	<key>STORAGE_BUCKET</key>
	<string>sem5finalproject-30816.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359770526845:ios:1791a2c1cadd50a0c68d14</string>
</dict>
</plist>